@import url(https://fonts.bunny.net/css?family=cousine:400|metrophobic:400);

:root {
  /* Esquema de colores */
  --color-primary: #333;
  --color-bg: #FFF;
  --color-accent: #F00;
  --color-link: #00F;
  /* background-color: var(--color-bg); */

  /* Bootstrap */
  --bs-body-bg: var(--color-bg);
  --bs-body-color: var(--color-primary);
  --bs-body-font-family: 'Metrophobic', sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-primary: #FFF;
    --color-bg: #333;
    --color-accent: #F00;
    --color-link: #00F;
  }
}

/* Elementos desplegables */
input.spoiler[type="checkbox"],
input.spoiler[type="checkbox"]:not(:checked)+div.spoiler {
  display: none;
}

/* Estilos básicos */
html,
body {
  border: 0;
  margin: 0;
  padding: 0;
}

code,
pre,
tt {
  font-family: 'Cousine', monospace;
}

/* Barra de navegación */
nav.navbar {
  background-color: #0005;
  --bs-navbar-color: var(--color-primary);
}

.navbar-brand img {
  height: 40px;
}

.navbar-menu {
  position: absolute;
  /* background: #0005; */
  width: 100vw;
  /* overflow-y: hidden; */
  top: 80px;
}

.navbar-menu .nav-elements {
  display: block;
  float: right;
  background: #0005;
  padding: 0 0.5rem;
}

.navbar-menu .nav-elements::before {
  content: '';
  border: 10px solid;
  border-color: #0000 #0000 #0005 #0000;
  float: right;
  margin: -20px -8px 0 0;
}

.navbar-menu .nav-elements a {
  display: block;
  padding: 0.3rem 0.5rem;
  border-bottom: 1px solid #0005;
  text-decoration: none;
  color: var(--color-primary);
}

/* Footer */
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1 0 auto;
}

footer {
  background: #0005;
  padding: 0.5rem 0;
}

footer p {
  margin: 0;
}

footer a {
  color: var(--bs-primary);
  text-decoration: none;
}
